{% extends 'jobs/base.html' %}

{% block content %}
<div class="container mt-5" style="background-image: url('https://ubiminds.com/site/uploads/2024/02/tech-hubs.webp'); background-size: cover; background-position: center; padding: 40px; border-radius: 15px;">
    <h1 class="text-center mb-5 font-weight-bold text-light">Job Sectors</h1>
    <div class="row">
        {% for sector in sectors %}
        <div class="col-md-3 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <h5 class="card-title font-weight-bold">{{ sector.name }}</h5>
                    <p class="card-text">Explore jobs in {{ sector.name }} sector.</p>
                    <a href="{% url 'job_list' sector.id %}" class="btn btn-primary btn-block">View Jobs</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
